*{
    margin:0;
    padding:0;
}

h1{
    width:90%;
    background: #868181;
    color:white;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
}
.big1{
    width: 90%;
    height: 150px;
    background: hsl(0, 55%, 90%);
    margin: 0 auto;
    margin-bottom:3px;

}
.big1 h2{
    float: left;
    width:20%;
    background:#bdc0c063;
    height: 150px;
    line-height: 150px;
    text-align: center;
}
.big1 div{
    float: left;
    width:50%;
    padding: 10px;
}
